body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar {
    padding: 0 40px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #564256;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar__title {
    color: #DDD1C7;
    font-size: 35px;
    font-weight: 600;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    
}

header .navbar__menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: #DDD1C7;
    text-decoration: none;
}

header .navbar__menu li a:hover {
    color: #A68CA6;
}

p.section__info {
    margin-bottom: 2em;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

main {
    padding: 0 3em;
}

.intro {
    padding-top: 6.5em;
}

section {
    padding: 1em;
    padding-bottom: 1.5em;
    border: solid #DDD1C7 2px;
    background-color: #DDD1C7;
    margin: 3em;
    border-radius: 0.5em;
}
