body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #DDD1C7;
}

.navbar {
    padding: 0 40px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #564256;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar__title {
    color: #DDD1C7;
    font-size: 35px;
    font-weight: 600;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    
}

header .navbar__menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: #DDD1C7;
    text-decoration: none;
}

header .navbar__menu li a:hover {
    color: #A68CA6;
}

p.section__info {
    margin: 0;
    padding-bottom: 1em;
}

main {
    padding: 0 3em;
}

.intro {
    padding-top: 9em;
}

section {
    padding: 1em;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #564256;
    color: #DDD1C7;
    padding: 1em;
    justify-content: space-around;
}

footer h2 {
    color: #DDD1C7;
    font-size: 16px;
}

.menu-btn {
    color: #DDD1C7;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1000px) {
}