body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar {
    padding: 0 40px;
    margin: auto;
}

header {
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: antiquewhite;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar__title {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    
}

header .navbar__menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: black;
    text-decoration: none;
}

header .navbar__menu li a:hover {
    color: #006B38FF;
}

p.section__info {
    margin-bottom: 2em;
}

h1 {
    font-weight: 500;
    font-size: 30px;
    margin: 0px 0px 0.7em 0px;
}

h2 {
    font-weight: 400;
    font-size: 23px;
    margin: 0px;
    margin: 0px 0px 0.7em 0px;
}

h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
    margin: 0px 0px 0.7em 0px;
}

h4 {
    font-weight: 300;
    font-size: 19px;
    margin: 0px 0px 0.7em 0px;
}

h5 {
    font-weight: 300;
    font-size: 18px;
    margin: 0px 0px 0.7em 0px;
}

h6 {
    font-weight: 300;
    font-size: 17px;
    margin: 0px 0px 0.7em 0px;
}